@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 10, 10, 10;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


@layer utilities {
  .round-bullet{
    @apply bg-amber-500 w-2 h-2 rounded-full mr-4;
  }
  .custom-text {
    @apply text-lg font-semibold text-blue-500;
    /* Replace with your desired styles */
  }

  .custom-padding {
    @apply p-4;
    /* Replace with your desired padding */
  }

  /* Add more custom classes as needed */
}